<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <ul class="nav">
    <li> GitHub </li>
    <li> LinkedIn </li>
    <li> Twitter </li>
  </ul>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <p class="text-reset fw-bold"> Crowsito </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->